.Rproj.user
.Rhistory
.RData
.Ruserdata
bookdown-bysh.Rmd
bookdown-bysh.log
bookdown-bysh.pdf
bookdown-bysh.tex
_bookdown_files/
/CLEAN_DATA_OUTPUT/
/ALL_RAW/
/.quarto/
*.rds
.rds
*.qmd
.qmd
combine.sh
*.yml
.yml
.R
*.R
*.rmarkdown
.rmarkdown
/www_gom_all_www_files/